.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
    background-color: var(--beigeblue);
    border-radius: 10px;
  }
  
  .form input:focus {
    outline: none;
    background-color: var(--offwhite);
  }

  .message-box {
    height: 100px;
  }
  
  p {
    color: white;
    font-size: 18px;
  }

  .submit-button {
    border-radius: 10px;
  }

  .submit-button:hover {
    background-color: var(--beigegreen);
  }