body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-photo {
  background-color: white;
  max-width: 200vw;
  padding: 5px;
  height: 200px;
  border: 1px solid black;
}

.project-image {
  background-color: white;
  max-width: 200vw;
  padding: 5px;
  height: 200px;
  border: 1px solid black;
}

.bandera {
  width: 100%;
}