:root {
  --darkgreen: #1E3125;
  --beigegreen: #8E8F82;
  --beigeblue: #A6ADB5;
  --lightblue: #A2B9D0;
  --offwhite: #C8D0DD;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkgreen);
  color: var(--offwhite);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-photo {
  background-color: var(--beigegreen);
  max-width: 200vw;
  padding: 5px;
  height: 200px;
  border: 1px solid var(--darkgreen);
}

.project-image {
  background-color: var(--beigegreen);
  max-width: 200vw;
  padding: 5px;
  height: 200px;
  border: 1px solid var(--darkgreen);
}

.bandera {
  width: 100%;
}